.track-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15rem;
  background: whitesmoke;
  margin-bottom: 1.3rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
